
* {
    margin: 0;
    padding: 20px;
}
body {
    font-family: sans-serif;
    color:#000000ff;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000ff;
    text-align: center;
}
#title {
    font-size: 30px;
    font-family: bold;
    color: #ffffffff;
}

.answers {
    font-size: 25px;
    font-family: bold;
    color: #ffffffff;
}
h1 {
    color:#ffffffff;
    font-size: 40px;
    align-items: center;
}
h2 {
    justify-content: space-around;
    font-family: impact;
    font-size: 30px;
    color:#ffffffff;
}
h3 {
    text-align: center;
    font-family: Bold;
    font-size: 30px;
    color:#ffffffff;
}
p {
    color:#ffffffff;
    font-size: 25px;
    font-family: bold;
}

button {   
    font-family: impact;
    font-size: 30px;
    max-width: 40%;
    background-color: #fca311ff;
    padding: 10px;
}
li {
    width:100%;
    color:#ffffffff;
    list-style: none;
}
div { 
    text-align: center;
    font-family: Bold;
    font-size: 30px;
    color:#ffffffff;
    width:100%;
}




/* color scheme */

/* $black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff; */